<div class="row">
  <div class="span10 offset2">
    <pre>

<% if authenticated? %>
You have <%= @todays_commits %> commits today, compared to <%= @yesterdays_commits %> yesterday!
<% else %>
<a href="/login">Login with GitHub</a></li>
<% end %>

    </pre>
  </div>
</div>
