<div class="row">
  <div class="span10 offset2">
    <pre>

<% if authenticated? %>
You have <%= @todays_commits %> commits today, compared to <%= @yesterdays_commits %> yesterday!

<%= @message %>
<% else %>
The gitometer is a motivational speaker.

<a href="/login">Login with GitHub</a></li>

Gitometer is &copy; 2011 <a href="mailto:christopher@meiklejo.hn">Christopher Meiklejohn.</a>  

The motivational speaker computes commits in UTC.
The motivational speaker is only concerned with commits to your own repos.

However you can change <a href="https://github.com/cmeiklejohn/gitometer">that</a>.
<% end %>

    </pre>
  </div>
</div>
